{% extends '@EasyAdmin/layout.html.twig' %}


{% block content %}
    <div class="container-fluid">
        <h1 class="text-primary">Panneau d'administration</h1>
        <p class="text-muted">Bienvenue dans l'interface d'administration de votre site internet</p>
    </div>
{% endblock %}