{% block stylesheets %}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}
<footer class="container-fluid text-light">
    <div class="row pt-3">
        <div class="col-lg-4">
            <h2>Stéphanie Ferreira</h2>
            <p>Assistante Maternelle</p>
        </div>
        <div class="col-lg-4">
            <h3>Liens utiles</h3>
            <ul class="link-utiles">
                <li><a href="{{ path('blog') }}">Blog</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Mention légale</a></li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h3>Information </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur deserunt dolor
                exercitationem facere inventore iste
            </p>
        </div>
    </div>
    <div class="container-fluid  d-flex justify-content-center">
        <p>copyright © Stéphanie Ferreira 2021</p>
    </div>
</footer>