<footer class="container-fluid">
    <div>
        <div>
            <ul>
                <li>Blog</li>
                <li>A propos</li>
                <li>Contact</li>
                <li>Mention légale</li>
            </ul>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-center">
        <p>copyright © Stéphanie Ferreira 2021</p>
    </div>
</footer>